/* @font-face {
    font-family: Roobert-Medium;
    src: url(../../../../../font/Roobert-Medium.otf);
  }

  @font-face {
    font-family: SF Pro Display;
    src: url(../../../../../font/SFPRODISPLAYREGULAR.OTF);
  } */
 
   .sp-profile  {
    margin: 0;
    padding: 0;
  } 
  
  .sp-profile {
    padding: 0;
    margin: 0;
    position: fixed;
    overflow-x: hidden;
  }
  
  .sp-profile .profileLeft, .profileRight {
    width: 50vw;
    height: 100vh;
    position: relative;
  }
  
  .sp-profile .profileLeft {
    background: #190F0F;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sp-profile .row {
    --bs-gutter-x: 0;
 }
  
 .sp-profile .company-name-content-row{
   width: 100%;
 }

 .sp-profile .company-name-content-col{
   display: flex;
   align-items: center;
   justify-content: center;
 }

  .sp-profile .profileLeft h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-left: 0.5rem;
  }

  @media (max-height: 768px){
    .sp-profile .profileLeft h1{
      font-size: 3.5rem;
      font-weight: 600px;
    }


    .sp-profile .profileRight {
      border-radius: 25px 25px 0px 0px;
    }
  }

  
  .sp-profile .profileLeft .profilelogo {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    /* width: 3rem;
    height: 4rem; */
  }
  
  .sp-profile .profileRight {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sp-profile .business-details{
    margin-left: 2rem;
  }
  
  .sp-profile .profileRight .fixed-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 50vw;
    border-top: 2px solid rgba(120, 115, 115, 0.16);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #fff;
  }

  .sp-profile .ownerContent{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sp-profile .owner-content{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .sp-profile .back-link {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    top: 1.5rem;
    left: 3.25rem;
    color: #190F0F;
    text-decoration: none;
    position: absolute;
  }
  
  .sp-profile .back-link:hover {
    color: grey;
  }
  
  .sp-profile .continue {
    top: 1rem;
    right: 4rem;
    position: absolute;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    padding: 15px, 15px, 15px, 15px;
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .sp-profile .margin-footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .sp-profile {
      position: relative;
    }
    .sp-profile .profileLeft {
      width: 100vw;
      height: 30%;
    }
    
    .sp-profile .profileRight {
      width: 100vw;
      height: 70%;
    }
  
    .sp-profile .profileRight .fixed-footer {
      width: 100vw;
    }
  }